.v-application{
    font-family: 'Josefin Sans', sans-serif!important; 
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
  background-color: $tertiary!important;
}
body{
    font-family: 'Josefin Sans', sans-serif!important; 
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
  background-color: $tertiary!important;
}
// ---- Defaults
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.8s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
/* Cookie Popup Edits */
.Cookie--base{
  background:$tertiary!important;
  color:$primary!important;
  .Cookie__content{
    font-size: 18px!important;
    color:$primary!important;
  }
  .Cookie__button{
    background: $secondary!important;
    border: 0;
    border-radius: 0;
    color: $primary!important;
    font-size: 18px!important;
    padding: 10px 40px!important;
  }
}
