// Toolbar
//Form
.add-venue__card{
    // padding:32px;
    height: 100%;
}
.container .add-venue__container{
    padding:32px;
}
.add-venue__heading{
    text-align: center;
}
.add-venue__select{
    padding-bottom:16px;
}
.add-venue__select .v-input__slot{
    color:$secondary!important;
}
.add-venue__text-field .v-input__slot{
    color:$secondary;
}
.add-venue__text-field, .add-venue__select .v-input__icon{
    color:white!important;
}
.add-venue__text-field .v-input--has-state .v-input__slot{
    color:#ff5252!important;
}
.add-venue__select .v-input--has-state .v-input__slot{
    color:#ff5252!important;
}
.add-venue__map-url{
    cursor: pointer;
    display:block;
    span{
        text-decoration: underline;
        transition-duration: 0.5s;
        &:hover{
            color:$secondary;
            transition-duration: 0.5s;
        }
    }
        
}
.add-venue__button{
    padding-top:12px;
}

//Review
.v-application .review{
    outline:1px solid $secondary;
    outline-offset: -16px;
    transition-duration: 0.8s;
}
.container .review__container{
    padding:32px;
}
.review__address-section{
    margin-top:32px;
}
.v-application .review__address-section .review__address-section__paragraph{
    margin-bottom:4px;
}
.review__address-section__heading{
    text-align: center;
}
.review__address-section__paragraph{
    font-size:20px;
    text-align: center;
}
.review__submitted-message{
    text-align: center;
    span{
        text-decoration: underline;
        transition-duration: 0.5s;
        &:hover{
            color:$secondary;
            cursor: pointer;
            transition-duration: 0.5s;
        }
    }
}
