.add-venue__overlay{
    background-color: $tertiary;
    bottom: 0;
    height: auto; /* Full height (cover the whole page) */ 
    left: 0;
    position: fixed; /* Sit on top of the page content */
    right: 0;
    top: 0;
    width: 100%; /* Full width (cover the whole page) */
    z-index: 99999;
    overflow-y: scroll;
}