<template>
  <div>
    <transition name="fade">
      <div id="FormOverlay" class="add-venue__overlay" v-if="formOverlay">
        <v-btn icon @click.stop="formOverlay = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-container>
          <AddVenue></AddVenue>
        </v-container>
      </div>
    </transition>
    <nav>
        <v-toolbar flat dense color="tertiary" >
            <v-btn @click.stop="drawer = !drawer" text color="primary">
				<v-icon >mdi-filter-variant</v-icon>
			</v-btn>
            <v-toolbar-title class="pt-1 pl-2 text-uppercase grey--text">
                <span class="font-weight-light primary--text">Dude</span>
				<span class="font-weight-regular primary--text" >Wheres</span>
				<span class="font-weight-light primary--text">My</span>
                <span class="font-weight-regular primary--text" >Bar</span>
            </v-toolbar-title> 
            <v-spacer></v-spacer>
            <v-btn @click.stop="formOverlay = !formOverlay" text color="primary">
              <v-icon left>mdi-map-marker-plus</v-icon>
                <span>Add a venue</span>
                
            </v-btn>  
        </v-toolbar>
        <!-- Need the app prop. works like position absolute -->
        <v-navigation-drawer app temporary width="400" v-model="drawer" class="primary">
            <v-container fluid class="filters">
                <v-col cols="12">
                <v-layout row align="center">
                    
                        <v-select dark id="SelectTeam" class="filters__select" @change="testClick()"
                        v-model="selectedTeam"
                        :items="teams"
                        menu-props="auto"
                        label="Select a team"
                        hide-details
                        prepend-icon="mdi-football"
                        single-line
                        ></v-select>
                    
                </v-layout>
                <v-layout row align="center">
                    
                        <v-select dark id="SelectState" class="filters__select" @change="stateClick()"
                        v-model="stateSelected"
                        :items="states"
                        menu-props="auto"
                        label="Select a state"
                        hide-details
                        prepend-icon="mdi-map-marker"
                        single-line
                        ></v-select>
                    
                </v-layout>
                <v-layout row align="center">  
                    <v-radio-group @change="checkClick()" dark v-model="checkedBarType" align="center" row class="filters__radio-group ml-6">
                        <v-radio class="filters__radio-group__item" label="Sports Bar" value="Sports Bar" color="secondary" ></v-radio>
                        <v-radio class="filters__radio-group__item" label="Team Bar" value="Team Bar" color="secondary" ></v-radio>
						<v-radio class="filters__radio-group__item" label="All" value="All" color="secondary"></v-radio>
                    </v-radio-group>
                </v-layout>
                <v-layout row align="center" class="ml-3">
                    <v-btn @click="go()" color="secondary" class="white--text" depressed >Go</v-btn>
					<v-btn @click="reset()" color="secondary" class="white--text ml-3" depressed >Reset</v-btn>
                </v-layout>
                </v-col>
            </v-container>
        </v-navigation-drawer>
    </nav>
		<div class="venue-map" ref="samMap" :id="samMap"></div>
  </div>
  
</template>

<script>
import { db } from "../firebase";
import AddVenue from '@/components/AddVenue.vue';

export default {
  name: 'venue-map',
  props: ['venueMap'],
  data: function () {
    return {
			venues: [],
			selectedTeam: "",
			stateSelected:"",
			checkedBarType:"All",
			samMap: this.name + "-map",
			map: null,
			markers:[],
			lat:38,
			lng:-95,

			verification:[],
			verificationScore:5,
			
			formOverlay: false,
			drawer:false,
			states: [
				'Alabama', 'Alaska', 'American Samoa', 'Arizona',
				'Arkansas', 'California', 'Colorado', 'Connecticut',
				'Delaware', 'District of Columbia', 'Federated States of Micronesia',
				'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho',
				'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
				'Louisiana', 'Maine', 'Marshall Islands', 'Maryland',
				'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
				'Missouri', 'Montana', 'Nebraska', 'Nevada',
				'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
				'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio',
				'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico',
				'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
				'Texas', 'Utah', 'Vermont', 'Virgin Island', 'Virginia',
				'Washington', 'West Virginia', 'Wisconsin', 'Wyoming',
				],
			teams: [
				'Arizona Cardinals','Atlanta Falcons','Baltimore Ravens',
				'Buffalo Bills','Carolina Panthers','Chicago Bears','Cincinnati Bengals',
				'Cleveland Browns','Dallas Cowboys','Denver Broncos','Detroit Lions',
					'Green Bay Packers','Houston Texans','Indianapolis Colts','Jacksonville Jaguars',
				'Kansas City Chiefs','Las Vegas Raiders','Los Angeles Chargers','Los Angeles Rams',
				'Miami Dolphins','Minnesota Vikings','New England Patriots','New Orleans Saints',
				'New York Giants','New York Jets','Philadelphia Eagles','Pittsburgh Steelers',
				'San Francisco 49ers','Seattle Seahawks','Tampa Bay Buccaneers','Tennessee Titans',
				'Washington Redskins','Show All',
			],
			lastOpenedInfoWindow:null

		}
		
	},
  components: {
    AddVenue 
  },
  firestore(){
		return{
		venues: db.collection("venues"),
		};
  },
  methods:{
	//closed open info windows when another markers info window is opened
	closeLastOpenedInfoWindow() {
		if (this.lastOpenedInfoWindow) {
			this.lastOpenedInfoWindow.close();
		}
	},
    go(event){
        this.stateSelected = "";
        this.selectedTeam = "";
        this.checkedBarType = "All";
        this.drawer = false;
		},
		reset(event){
			this.stateSelected = "";
			this.selectedTeam = "";
			this.checkedBarType = "All";
			this.markers.forEach(function (m){
				m.setVisible(true);
			});
			
		},
		close(event){
			document.getElementById("Overlay").style.display = "none";
		},
		verify: function(t){
			
			
		},
		/* -------- radio button filter --------- */
		checkClick(event){
			var _this = this;
			this.markers.forEach(function (m){
					if(_this.checkedBarType == "Sports Bar"){
						if(m.customInfo !== "Sports Bar"){
							m.setVisible(false);
						}
						else{
							m.setVisible(true);
						}
					}else if(_this.checkedBarType == "Team Bar"){
						if(m.customInfo !== "Team Bar"){
							m.setVisible(false);
						}
						else{
							m.setVisible(true);
						}
					}
					else if(_this.checkedBarType == "All"){
						m.setVisible(true);
					}
			});
		},

		/* ----- State Select Dropdown ----- */
		stateClick(event){
            var _this = this;
            //Alabama
            if(this.stateSelected == 'Alabama'){
                _this.map.setCenter(new google.maps.LatLng(32.569836, -86.6068596));
                _this.map.setZoom(7);
            }
            //Alaska
            else if(this.stateSelected == 'Alaska'){
                _this.map.setCenter(new google.maps.LatLng(62.394526, -151.8585711));
                _this.map.setZoom(5);
            }
            //Arizona
            else if(this.stateSelected == 'Arizona'){
                _this.map.setCenter(new google.maps.LatLng(33.8238964, -112.6175508));
                _this.map.setZoom(7);
            }
            //Arkansas
            else if(this.stateSelected == 'Arkansas'){
                _this.map.setCenter(new google.maps.LatLng(34.7757137, -92.6486062));
                _this.map.setZoom(7);
            }
            //California
            else if(this.stateSelected == 'California'){
                _this.map.setCenter(new google.maps.LatLng(37.3744118, -121.6082865));
                _this.map.setZoom(7);
            }
            //Colorado
            else if(this.stateSelected == 'Colorado'){
                _this.map.setCenter(new google.maps.LatLng(38.9895837, -106.1244795));
                _this.map.setZoom(7);
            }
            //Connecticut
            else if(this.stateSelected == 'Connecticut'){
                _this.map.setCenter(new google.maps.LatLng(41.5380576, -72.8961912));
                _this.map.setZoom(7);
            }
            //Delaware
            else if(this.stateSelected == 'Delaware'){
                _this.map.setCenter(new google.maps.LatLng(39.1071093, -75.8231696));
                _this.map.setZoom(7);
            }
            //Florida
            else if(this.stateSelected == 'Florida'){
                _this.map.setCenter(new google.maps.LatLng(27.7967677, -84.5182109));
                _this.map.setZoom(7);
            }
            //Georgia
            else if(this.stateSelected == 'Georgia'){
                _this.map.setCenter(new google.maps.LatLng(32.8017443, -84.1399721));
                _this.map.setZoom(7);
            }
            //Hawaii
            else if(this.stateSelected == 'Hawaii'){
                _this.map.setCenter(new google.maps.LatLng(20.4294055, -157.8146692));
                _this.map.setZoom(7);
            }
            //Idaho
            else if(this.stateSelected == 'Idaho'){
                _this.map.setCenter(new google.maps.LatLng(45.2523933, -116.6808595));
                _this.map.setZoom(7);
            }
            //Illinois
            else if(this.stateSelected == 'Illinois'){
                _this.map.setCenter(new google.maps.LatLng(39.7614333, -91.1629292));
                _this.map.setZoom(7);
            }
            //Indiana
            else if(this.stateSelected == 'Indiana'){
                _this.map.setCenter(new google.maps.LatLng(39.7475658, -87.5300427));
                _this.map.setZoom(7);
            }
            //Iowa
            else if(this.stateSelected == 'Iowa'){
                _this.map.setCenter(new google.maps.LatLng(41.8111172, -94.7910871));
                _this.map.setZoom(7);
            }
            //Kansas
            else if(this.stateSelected == 'Kansas'){
                _this.map.setCenter(new google.maps.LatLng(38.4012885, -98.6638909));
                _this.map.setZoom(7);
            }
            //Kentucky
            else if(this.stateSelected == 'Kentucky'){
                _this.map.setCenter(new google.maps.LatLng(37.4901745, -85.753454));
                _this.map.setZoom(7);
            }
            //Louisiana
            else if(this.stateSelected == 'Louisiana'){
                _this.map.setCenter(new google.maps.LatLng(31.061664, -92.1363799));
                _this.map.setZoom(7);
            }
            //Maine
            else if(this.stateSelected == 'Maine'){
                _this.map.setCenter(new google.maps.LatLng(45.2003119, -68.8783901));
                _this.map.setZoom(7);
            }
            //Maryland
            else if(this.stateSelected == 'Maryland'){
                _this.map.setCenter(new google.maps.LatLng(39.2848183, -76.6905255));
                _this.map.setZoom(7);
            }	
            //Massachusetts
            else if(this.stateSelected == 'Massachusetts'){
                _this.map.setCenter(new google.maps.LatLng(42.1962269, -71.8401336));
                _this.map.setZoom(7);
            }
            //Michigan
            else if(this.stateSelected == 'Michigan'){
                _this.map.setCenter(new google.maps.LatLng(44.9190045, -85.5503711));
                _this.map.setZoom(7);
            }
            //Minnesota
            else if(this.stateSelected == 'Minnesota'){
                _this.map.setCenter(new google.maps.LatLng(46.378265, -93.8355761));
                _this.map.setZoom(7);
            }
            //Mississippi
            else if(this.stateSelected == 'Mississippi'){
                _this.map.setCenter(new google.maps.LatLng(32.5636805, -89.8855628));
                _this.map.setZoom(7);
            }
            //Missouri
            else if(this.stateSelected == 'Missouri'){
                _this.map.setCenter(new google.maps.LatLng(32.5636805, -89.8855628));
                _this.map.setZoom(7);
            }
            //Montana
            else if(this.stateSelected == 'Montana'){
                _this.map.setCenter(new google.maps.LatLng(46.9757655, -110.0602817));
                _this.map.setZoom(7);
            }
            //Nebraska
            else if(this.stateSelected == 'Nebraska'){
                _this.map.setCenter(new google.maps.LatLng(41.6486177, -99.7483253));
                _this.map.setZoom(7);
            }
            //Nevada
            else if(this.stateSelected == 'Nevada'){
                _this.map.setCenter(new google.maps.LatLng(38.553551, -116.7145006));
                _this.map.setZoom(7);
            }
            //New Hampshire
            else if(this.stateSelected == 'New Hampshire'){
                _this.map.setCenter(new google.maps.LatLng(43.9825, -72.5846457));
                _this.map.setZoom(7);
            }
            //New Jersey
            else if(this.stateSelected == 'New Jersey'){
                _this.map.setCenter(new google.maps.LatLng(40.1529868, -74.6907959));
                _this.map.setZoom(7);
            }
            //New Mexico
            else if(this.stateSelected == 'New Mexico'){
                _this.map.setCenter(new google.maps.LatLng(34.1559405, -106.0786808));
                _this.map.setZoom(7);
            }
            //New York
            else if(this.stateSelected == 'New York'){
                _this.map.setCenter(new google.maps.LatLng(40.7115828, -73.9533947));
                _this.map.setZoom(7);
            }
            //North Carolina
            else if(this.stateSelected == 'North Carolina'){
                _this.map.setCenter(new google.maps.LatLng(35.3970749, -79.9718104));
                _this.map.setZoom(7);
            }
            //North Dakota
            else if(this.stateSelected == 'North Dakota'){
                _this.map.setCenter(new google.maps.LatLng(47.4335295, -100.3496095));
                _this.map.setZoom(7);
            }
            //Ohio
            else if(this.stateSelected == 'Ohio'){
                _this.map.setCenter(new google.maps.LatLng(40.3511055, -82.8136961));
                _this.map.setZoom(7);
            }
            //Oklahoma
            else if(this.stateSelected == 'Oklahoma'){
                _this.map.setCenter(new google.maps.LatLng(35.3811578, -98.5884699));
                _this.map.setZoom(7);
            }
            //Oregon
            else if(this.stateSelected == 'Oregon'){
                _this.map.setCenter(new google.maps.LatLng(44.1217538, -120.6728206));
                _this.map.setZoom(7);
            }
            //Pennsylvania
            else if(this.stateSelected == 'Pennsylvania'){
                _this.map.setCenter(new google.maps.LatLng(40.8631012, -77.6769757));
                _this.map.setZoom(7);
            }
            //Rhode Island
            else if(this.stateSelected == 'Rhode Island'){
                _this.map.setCenter(new google.maps.LatLng(41.6663149, -71.5445283));
                _this.map.setZoom(7);
            }
            //South Carolina
            else if(this.stateSelected == 'South Carolina'){
                _this.map.setCenter(new google.maps.LatLng(33.6420119, -80.8153075));
                _this.map.setZoom(7);
            }
            //South Dakota
            else if(this.stateSelected == 'South Dakota'){
                _this.map.setCenter(new google.maps.LatLng(44.3240632, -100.5769541));
                _this.map.setZoom(7);
            }
            //Tennessee
            else if(this.stateSelected == 'Tennessee'){
                _this.map.setCenter(new google.maps.LatLng(35.7383693, -86.0338703));
                _this.map.setZoom(7);
            }
            //Texas
            else if(this.stateSelected == 'Texas'){
                _this.map.setCenter(new google.maps.LatLng(31.1193143, -99.6252284));
                _this.map.setZoom(7);
            }
            //Utah
            else if(this.stateSelected == 'Utah'){
                _this.map.setCenter(new google.maps.LatLng(39.473, -111.7484175));
                _this.map.setZoom(7);
            }
            //Vermont
            else if(this.stateSelected == 'Vermont'){
                _this.map.setCenter(new google.maps.LatLng(43.8700097, -72.8585981));
                _this.map.setZoom(7);
            }
            //Virginia
            else if(this.stateSelected == 'Virginia'){
                _this.map.setCenter(new google.maps.LatLng(37.7891469, -79.5394331));
                _this.map.setZoom(7);
            }
            //Washington
            else if(this.stateSelected == 'Washington'){
                _this.map.setCenter(new google.maps.LatLng(47.2899822, -120.4045005));
                _this.map.setZoom(7);
            }
            //West Virginia
            else if(this.stateSelected == 'West Virginia'){
                _this.map.setCenter(new google.maps.LatLng(38.9185798, -80.8500575));
                _this.map.setZoom(7);
            }
            //Wisconsin
            else if(this.stateSelected == 'Wisconsin'){
                _this.map.setCenter(new google.maps.LatLng(44.7169464, -89.4396557));
                _this.map.setZoom(7);
            }
            //Wyoming
            else if(this.stateSelected == 'Wyoming'){
                _this.map.setCenter(new google.maps.LatLng(43.0391561, -107.5705445));
                _this.map.setZoom(7);
            }
		
		},

		/* ----- Team Select Markers ----- */
		testClick(event){
				var _this = this;
				this.markers.forEach(function (m){
					var t = m.title;
					var p = m.position
					//Show All
					if (_this.selectedTeam == "Show All"){
						m.setVisible(true);
					}
					//Atlanta Falcons
					if (_this.selectedTeam == "Arizona Cardinals"){
						if(m.title != "Arizona Cardinals"){
							m.setVisible(false);
						}else if(m.title == "Arizona Cardinals"){
							m.setVisible(true);
						}
					}	
					//Atlanta Falcons
					if (_this.selectedTeam == "Atlanta Falcons"){
						if(m.title != "Atlanta Falcons"){
							m.setVisible(false);
						}else if(m.title == "Atlanta Falcons"){
							m.setVisible(true);
						}
					}		
					//Baltimore Ravens
					if (_this.selectedTeam == "Baltimore Ravens"){
						if(m.title != "Baltimore Ravens"){
							m.setVisible(false);
						}else if(m.title == "Baltimore Ravens"){
							m.setVisible(true);
						}	
					}
					//Buffalo Bills
					if (_this.selectedTeam == "Buffalo Bills"){
						if(m.title != "Buffalo Bills"){
							m.setVisible(false);
						}else if(m.title == "Buffalo Bills"){
							m.setVisible(true);
						}
					}
					//Carolina Panthers
					if (_this.selectedTeam == "Carolina Panthers"){
						if(m.title != "Carolina Panthers"){
							m.setVisible(false);
						}else if(m.title == "Carolina Panthers"){
							m.setVisible(true);
						}
					}
					//Chicago Bears
					if (_this.selectedTeam == "Chicago Bears"){
						if(m.title != "Chicago Bears"){
							m.setVisible(false);
						}else if(m.title == "Chicago Bears"){
							m.setVisible(true);
						}	
					}
					//Cincinnati Bengals
					if (_this.selectedTeam == "Cincinnati Bengals"){
						if(m.title != "Cincinnati Bengals"){
							m.setVisible(false);
						}else if(m.title == "Cincinnati Bengals"){
							m.setVisible(true);
						}
					}
					//Cleveland Browns
					if (_this.selectedTeam == "Cleveland Browns"){
						if(m.title != "Cleveland Browns"){
							m.setVisible(false);
						}else if(m.title == "Cleveland Browns"){
							m.setVisible(true);
						}	
					}
					//Dallas Cowboys
					if (_this.selectedTeam == "Dallas Cowboys"){
						if(m.title != "Dallas Cowboys"){
							m.setVisible(false);
						}else if(m.title == "Dallas Cowboys"){
							m.setVisible(true);
						}	
					}
					//Denver Broncos
					if (_this.selectedTeam == "Denver Broncos"){
						if(m.title != "Denver Broncos"){
							m.setVisible(false);
						}	else if(m.title == "Denver Broncos"){
							m.setVisible(true);
						}
					}
					//Detroit Lions
					if (_this.selectedTeam == "Detroit Lions"){
						if(m.title != "Detroit Lions"){
							m.setVisible(false);
						}else if(m.title == "Detroit Lions"){
							m.setVisible(true);
						}	
					}
					//Green Bay
					if (_this.selectedTeam == "Green Bay Packers"){
						if(m.title != "Green Bay Packers"){
							m.setVisible(false);
						}else if(m.title == "Green Bay Packers"){
							m.setVisible(true);
						}
					}
					//Houston Texans
					if (_this.selectedTeam == "Houston Texans"){
						if(m.title != "Houston Texans"){
							m.setVisible(false);
						}else if(m.title == "Houston Texans"){
							m.setVisible(true);
						}	
					}
					//Indianapolis Colts
					if (_this.selectedTeam == "Indianapolis Colts"){
						if(m.title != "Indianapolis Colts"){
							m.setVisible(false);
						}else if(m.title == "Indianapolis Colts"){
							m.setVisible(true);
						}	
					}
					//Jacksonville Jaguars
					if (_this.selectedTeam == "Jacksonville Jaguars"){
						if(m.title != "Jacksonville Jaguars"){
							m.setVisible(false);
						}else if(m.title == "Jacksonville Jaguars"){
							m.setVisible(true);
						}	
					}
					//Kansas City Chiefs
					if (_this.selectedTeam == "Kansas City Chiefs"){
						if(m.title != "Kansas City Chiefs"){
							m.setVisible(false);
						}else if(m.title == "Kansas City Chiefs"){
							m.setVisible(true);
						}	
					}
					//Los Angeles Chargers
					if (_this.selectedTeam == "Los Angeles Chargers"){
						if(m.title != "Los Angeles Chargers"){
							m.setVisible(false);
						}else if(m.title == "Los Angeles Chargers"){
							m.setVisible(true);
						}	
					}
					//Los Angeles Rams
					if (_this.selectedTeam == "Los Angeles Rams"){
						if(m.title != "Los Angeles Rams"){
							m.setVisible(false);
						}else if(m.title == "Los Angeles Rams"){
							m.setVisible(true);
						}	
					}
					//Miami Dolphins
					if (_this.selectedTeam == "Miami Dolphins"){
						if(m.title != "Miami Dolphins"){
							m.setVisible(false);
						}	else if(m.title == "Miami Dolphins"){
							m.setVisible(true);
						}
					}
					//Minnesota Vikings
					if (_this.selectedTeam == "Minnesota Vikings"){
						if(m.title != "Minnesota Vikings"){
							m.setVisible(false);
						}else if(m.title == "Minnesota Vikings"){
							m.setVisible(true);
						}	
					}
					//New England Patriots
					if (_this.selectedTeam == "New England Patriots"){
						if(m.title != "New England Patriots"){
							m.setVisible(false);
						}	else if(m.title == "New England Patriots"){
							m.setVisible(true);
						}
					}
					//New Orleans Saints
					if (_this.selectedTeam == "New Orleans Saints"){
						if(m.title != "New Orleans Saints"){
							m.setVisible(false);
						}	else if(m.title == "New Orleans Saints"){
							m.setVisible(true);
						}
					}
					//New York Giants
					if (_this.selectedTeam == "New York Giants"){
						if(m.title != "New York Giants"){
							m.setVisible(false);
						}	else if(m.title == "New York Giants"){
							m.setVisible(true);
						}
					}
					//New York Jets
					if (_this.selectedTeam == "New York Jets"){
						if(m.title != "New York Jets"){
							m.setVisible(false);
						}	else if(m.title == "New York Jets"){
							m.setVisible(true);
						}
					}
					//Las Vegas Raiders
					if (_this.selectedTeam == "Las Vegas Raiders"){
						if(m.title != "Las Vegas Raiders"){
							m.setVisible(false);
						}	else if(m.title == "Las Vegas Raiders"){
							m.setVisible(true);
						}
					}
					//Philadelphia Eagles
					if (_this.selectedTeam == "Philadelphia Eagles"){
						if(m.title != "Philadelphia Eagles"){
							m.setVisible(false);
						}	else if(m.title == "Philadelphia Eagles"){
							m.setVisible(true);
						}
					}
					//Pittsburgh Steelers
					if (_this.selectedTeam == "Pittsburgh Steelers"){
						if(m.title != "Pittsburgh Steelers"){
							m.setVisible(false);
						}	else if(m.title == "Pittsburgh Steelers"){
							m.setVisible(true);
						}
					}
					//San Francisco 49ers
					if (_this.selectedTeam == "San Francisco 49ers"){
						if(m.title != "San Francisco 49ers"){
							m.setVisible(false);
						}	else if(m.title == "San Francisco 49ers"){
							m.setVisible(true);
						}
					}
					//Seattle Seahawks
					if (_this.selectedTeam == "Seattle Seahawks"){
						if(m.title != "Seattle Seahawks"){
							m.setVisible(false);
						}	else if(m.title == "Seattle Seahawks"){
							m.setVisible(true);
						}
					}
					//Tampa Bay Buccaneers
					if (_this.selectedTeam == "Tampa Bay Buccaneers"){
						if(m.title != "Tampa Bay Buccaneers"){
							m.setVisible(false);
						}	else if(m.title == "Tampa Bay Buccaneers"){
							m.setVisible(true);
						}
					}
					//Tennessee Titans
					if (_this.selectedTeam == "Tennessee Titans"){
						if(m.title != "Tennessee Titans"){
							m.setVisible(false);
						}	else if(m.title == "Tennessee Titans"){
							m.setVisible(true);
						}
					}
					//Washington Redskins
					if (_this.selectedTeam == "Washington Redskins"){
						if(m.title != "Washington Redskins"){
							m.setVisible(false);
						}	else if(m.title == "Washington Redskins"){
							m.setVisible(true);
						}
					}
					// console.log(t + p);
				});
			},            
        },
        updated(){
            //Add event listeners to click events
            this.$el.addEventListener('click', this.testClick);
            this.$el.addEventListener('click', this.stateClick);
            // this.$el.addEventListener('change', this.checkClick);
            // this.$el.addEventListener('click', this.reset);
            // this.$el.addEventListener('click', this.showFilters);
            // console.log(this.lat, this.lng)	
        },
  mounted: function () {
		var counter = 0;
		var _this = this;
    	const element = document.getElementById(this.samMap)
		var options = {zoom: 4,center: new google.maps.LatLng( this.lat, this.lng)}
		//create new Map based off element var and option var
		this.map = new google.maps.Map(element, options);
		//Icons
		const cardinalsIcon = require('../assets/img/map-marker-cardinals.png');
		const falconsIcon = require('../assets/img/map-marker-falcons.png');
		const ravensIcon = require('../assets/img/map-marker-ravens.png');
		const billsIcon = require('../assets/img/map-marker-bills.png');
		const panthersIcon = require('../assets/img/map-marker-panthers.png');
		const bearsIcon = require('../assets/img/map-marker-bears.png');
		const bengalsIcon = require('../assets/img/map-marker-bengals.png');
		const brownsIcon = require('../assets/img/map-marker-browns.png');
		const cowboysIcon = require('../assets/img/map-marker-cowboys.png');
		const broncosIcon = require('../assets/img/map-marker-broncos.png');
		const lionsIcon = require('../assets/img/map-marker-lions.png');
		const packersIcon = require('../assets/img/map-marker-packers.png');
		const texansIcon = require('../assets/img/map-marker-texans.png');
		const coltsIcon = require('../assets/img/map-marker-colts.png');
		const jaguarsIcon = require('../assets/img/map-marker-jaguars.png');
		const chiefsIcon = require('../assets/img/map-marker-chiefs.png');
		const chargersIcon = require('../assets/img/map-marker-chargers.png');
		const ramsIcon = require('../assets/img/map-marker-rams.png');
		const dolphinsIcon = require('../assets/img/map-marker-dolphins.png');
		const vikingsIcon = require('../assets/img/map-marker-vikings.png');
		const patriotsIcon = require('../assets/img/map-marker-patriots.png');
		const saintsIcon = require('../assets/img/map-marker-saints.png');
		const giantsIcon = require('../assets/img/map-marker-giants.png');
		const jetsIcon = require('../assets/img/map-marker-jets.png');
		const raidersIcon = require('../assets/img/map-marker-raiders.png');
		const eaglesIcon = require('../assets/img/map-marker-eagles.png');
		const steelersIcon = require('../assets/img/map-marker-steelers.png');
		const ninersIcon = require('../assets/img/map-marker-niners.png');
		const seahawksIcon = require('../assets/img/map-marker-seahawks.png');
		const buccaneersIcon = require('../assets/img/map-marker-buccaneers.png');
		const titansIcon = require('../assets/img/map-marker-titans.png');
		const redskinsIcon = require('../assets/img/map-marker-redskins.png');


		//looping through the Venues collection within the firebase Db.
		this.$binding("venues", db.collection("venues")).then(venues => {
      		this.venues.forEach(function(venue) {
				  
			/* Create marker, add to map */
				const marker = new google.maps.Marker({
					position: {
						lat: parseFloat(venue.latitude),
						lng: parseFloat(venue.longitude)
					},
					title: venue.teamSelected,
					map:_this.map,
					visible:true,
					animation: google.maps.Animation.DROP,
					customInfo: venue.checkedBarType,
				});

				//pushing the marker position, title, map and visibility to the markers array
				_this.markers.push(marker);
				
			
				//setting the icon specific to the selected team in the database
				if(venue.teamSelected == 'Arizona Cardinals'){ 
					marker.setIcon(cardinalsIcon)
				}else if(venue.teamSelected == 'Atlanta Falcons'){
					marker.setIcon(falconsIcon)	
				}else if(venue.teamSelected == 'Baltimore Ravens'){
					marker.setIcon(ravensIcon)	
				}else if(venue.teamSelected == 'Buffalo Bills'){
					marker.setIcon(billsIcon)	
				}else if(venue.teamSelected == 'Carolina Panthers'){
					marker.setIcon(panthersIcon)	
				}else if(venue.teamSelected == 'Chicago Bears'){
					marker.setIcon(bearsIcon)	
				}else if(venue.teamSelected == 'Cincinnati Bengals'){
					marker.setIcon(bengalsIcon)	
				}else if(venue.teamSelected == 'Cleveland Browns'){
					marker.setIcon(brownsIcon)	
				}else if(venue.teamSelected == 'Dallas Cowboys'){
					marker.setIcon(cowboysIcon)	
				}else if(venue.teamSelected == 'Denver Broncos'){
					marker.setIcon(broncosIcon)	
				}else if(venue.teamSelected == 'Detroit Lions'){
					marker.setIcon(lionsIcon)	
				}else if(venue.teamSelected == 'Green Bay Packers'){
					marker.setIcon(packersIcon)	
				}else if(venue.teamSelected == 'Houston Texans'){
					marker.setIcon(texansIcon)	
				}else if(venue.teamSelected == 'Indianapolis Colts'){
					marker.setIcon(coltsIcon)	
				}else if(venue.teamSelected == 'Jacksonville Jaguars'){
					marker.setIcon(jaguarsIcon)	
				}else if(venue.teamSelected == 'Kansas City Chiefs'){
					marker.setIcon(chiefsIcon)	
				}else if(venue.teamSelected == 'Los Angeles Chargers'){
					marker.setIcon(chargersIcon)	
				}else if(venue.teamSelected == 'Los Angeles Rams'){
					marker.setIcon(ramsIcon)	
				}else if(venue.teamSelected == 'Miami Dolphins'){
					marker.setIcon(dolphinsIcon)	
				}else if(venue.teamSelected == 'Minnesota Vikings'){
					marker.setIcon(vikingsIcon)	
				}else if(venue.teamSelected == 'New England Patriots'){
					marker.setIcon(patriotsIcon)	
				}else if(venue.teamSelected == 'New Orleans Saints'){
					marker.setIcon(saintsIcon)	
				}else if(venue.teamSelected == 'New York Giants'){
					marker.setIcon(giantsIcon)	
				}else if(venue.teamSelected == 'New York Jets'){
					marker.setIcon(jetsIcon)	
				}else if(venue.teamSelected == 'Las Vegas Raiders'){
					marker.setIcon(raidersIcon)	
				}else if(venue.teamSelected == 'Philadelphia Eagles'){
					marker.setIcon(eaglesIcon)	
				}else if(venue.teamSelected == 'Pittsburgh Steelers'){
					marker.setIcon(steelersIcon)	
				}else if(venue.teamSelected == 'San Francisco 49ers'){
					marker.setIcon(ninersIcon)	
				}else if(venue.teamSelected == 'Seattle Seahawks'){
					marker.setIcon(seahawksIcon)	
				}else if(venue.teamSelected == 'Tampa Bay Buccaneers'){
					marker.setIcon(buccaneersIcon)	
				}else if(venue.teamSelected == 'Tennessee Titans'){
					marker.setIcon(titansIcon)	
				}else if(venue.teamSelected == 'Washington Redskins'){
					marker.setIcon(redskinsIcon)	
				}

			/* Creating a info window instance */
			//creating content var
			var contentString = '<div class="map-info-box">' + '<p style="font-weight: bold!important;">' + venue.venueName + '<p>' +
										'<p>' + venue.streetAddressOne + '</p>' +
										'<p>' + venue.streetAddressTwo + '</p>' +
										'<p>' + venue.city + '</p>' +
										'<p>' + venue.stateSelected + '</p>' + 
										'<p>' + venue.zipCode + '</p>' +
										'<p style="font-style: italic!important;">' + venue.checkedBarType + '</p>' +
								 '<div>' + '<a target="_blank" href="' + venue.mapUrl + '"> View more info' + '</a>' + '</div>' ;
			//Create a pop up bubble with some content
			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});
			//Add onclick event to show bubble when pin is clicked */
			marker.addListener("click", function() {
				_this.closeLastOpenedInfoWindow();
				infowindow.open(_this.map, marker);
				_this.lastOpenedInfoWindow = infowindow;
			});
			_this.map.addListener("click", function() {
				infowindow.close(marker);
			});
			

		
		});
		
	  
	});
	console.log(_this.markers.title);	
	},
	updated(){
		//Add event listeners to click events
		this.$el.addEventListener('click', this.testClick);
		this.$el.addEventListener('click', this.stateClick);
		// this.$el.addEventListener('change', this.checkClick);
		// this.$el.addEventListener('click', this.reset);
		// this.$el.addEventListener('click', this.showFilters);
		// console.log(this.lat, this.lng)	
	},
};
</script>

<style lang="scss">

 
</style>
