<!-- Margin and padding will be declared through classes. {padding/margin}{position}-{value} -->
<template>
    <div>
        <v-row>
            <v-col cols="12" md="6">
                <v-card color="primary" class="add-venue__card">
                            <v-container class="add-venue__container">
                                <div>
                                    <h2 class="add-venue__heading white--text">Add a venue</h2>
                                </div>
                            <div class="add-venue__select">
                                <v-select dark id="TeamSelected" class="select-option"
                                v-model="teamSelected" @change="test()"
                                :items="teams"
                                :error-messages="teamSelectedErrors"
                                @input="$v.teamSelected.$touch()"
                                @blur="$v.teamSelected.$touch()"
                                required
                                menu-props="auto"
                                label="Select a team"
                                hide-details
                                prepend-icon="mdi-football"
                                single-line
                                >
                                </v-select>
                            </div>

                            <div class="add-venue__text-field">
                                <v-text-field dark
                                v-model="addressForm.venueName"
                                :error-messages="venueNameErrors"
                                @input="$v.addressForm.venueName.$touch()"
                                @blur="$v.addressForm.venueName.$touch()"
                                required
                                label="Venue Name"
                                prepend-icon="mdi-pencil"
                                ></v-text-field>
                            </div>
                                
                            <div>
                                <v-radio-group v-model="checkedBarType" class="ml-8" dark row required>
                                    <v-radio label="Sports Bar" value="Sports Bar" color="secondary" ></v-radio>
                                    <v-radio label="Team Bar" value="Team Bar" color="secondary"></v-radio>
                                </v-radio-group>
                            </div>
                            
                                <div class="add-venue__text-field">
                                    <v-text-field dark
                                    v-model="addressForm.streetAddressOne"
                                    :error-messages="streetAddressOneErrors"
                                    @input="$v.addressForm.streetAddressOne.$touch()"
                                    @blur="$v.addressForm.streetAddressOne.$touch()"
                                    label="Address Line One"
                                    prepend-icon="mdi-pencil"
                                    required
                                    ></v-text-field>
                                </div>

                                <div class="add-venue__text-field">
                                    <v-text-field dark
                                    v-model="addressForm.streetAddressTwo"
                                    label="Address Line Two"
                                    prepend-icon="mdi-pencil"
                                    ></v-text-field>
                                </div>

                                <div class="add-venue__text-field">
                                    <v-text-field dark
                                    v-model="addressForm.city"
                                    :error-messages="cityErrors"
                                    @input="$v.addressForm.city.$touch()"
                                    @blur="$v.addressForm.city.$touch()"
                                    label="City"
                                    prepend-icon="mdi-pencil"
                                    required
                                    ></v-text-field>
                                </div>

                                <div class="add-venue__select">
                                    <v-select dark id="StateSelected" class="select-option"
                                    v-model="addressForm.stateSelected"
                                    :items="states"
                                    :error-messages="stateSelectedErrors"
                                    @input="$v.addressForm.stateSelected.$touch()"
                                    @blur="$v.addressForm.stateSelected.$touch()"
                                    menu-props="auto"
                                    label="Select a state"
                                    required
                                    hide-details
                                    prepend-icon="mdi-map-marker"
                                    single-line
                                    >
                                    </v-select>
                                </div>

                                <div class="add-venue__text-field">
                                    <v-text-field dark
                                    v-model="addressForm.zipCode"
                                    :error-messages="zipCodeErrors"
                                    @input="$v.addressForm.zipCode.$touch()"
                                    @blur="$v.addressForm.zipCode.$touch()"
                                    label="Zip"
                                    prepend-icon="mdi-pencil"
                                    required
                                    ></v-text-field>
                                </div>

                                <div>
                                    <a @click="showMapUrl = !showMapUrl" class="add-venue__map-url white--text ml-8"><span>Have a Google Map Url?</span></a>
                                    <v-text-field dark
                                    v-if="showMapUrl"
                                    label="Map Url"
                                    prepend-icon="mdi-pencil"
                                    ></v-text-field>
                                </div>
                            
                                <input type="hidden" v-model="hiddenInputs.longitude">
                                <input type="hidden" v-model="hiddenInputs.latitude">
                                <input type="hidden" v-model="hiddenInputs.openingHours">
                                <input type="hidden" v-model="hiddenInputs.verificationScore">
                            
                            <div class="add-venue__button">
                                <v-btn v-on:click="addVenue" color="secondary" align="center" class="ml-8 px-8 white--text">
                                    Submit
                                </v-btn>
                            </div>
                            </v-container>
                        <!-- </v-tab-item>
                        <v-tab-item> -->
                           
                        <!-- </v-tab-item>
                    </v-tabs-items> -->
                </v-card> 
            </v-col>
            <v-col cols="12" sm="6">
                <transition name="fade">
                    <v-card color="primary" class="add-venue__card review" v-if="visible">
                        <v-container class="review__container white--text">
                            <h2 class=" review__address-section__heading" v-if="teamSelected">You have selected the <span class="secondary--text">{{teamSelected}}</span></h2>
                            <h3 class="review__address-section__heading" v-if="addressForm.venueName">
                                The <span class="secondary--text">{{addressForm.venueName}}</span> is a
                                <span v-if="checkedBarType" class="secondary--text"> {{checkedBarType}}</span> 
                                located at:
                            </h3>
                            <div class="review__address-section">
                                <p class="review__address-section__paragraph" v-if="mapUrl">{{mapUrl}}.</p>
                                <p class="review__address-section__paragraph" v-if="addressForm.streetAddressOne">{{addressForm.streetAddressOne}}</p>
                                <p class="review__address-section__paragraph" v-if="addressForm.streetAddressTwo">{{addressForm.streetAddressTwo}}</p>
                                <p class="review__address-section__paragraph" v-if="addressForm.city">{{addressForm.city}}</p>
                                <p class="review__address-section__paragraph" v-if="addressForm.stateSelected">{{addressForm.stateSelected}}</p>
                                <p class="review__address-section__paragraph" v-if="addressForm.zipCode">{{addressForm.zipCode}}</p>
                            </div>
                            <div id="submitted-message" class="review__submitted-message" v-if="submitted">
                                <h3>Awesome! Your venue has been submitted and is currently under review. Would you like to <span v-on:click="submitAgainClick">submit another?</span></h3>
                            </div>
                        </v-container>
                    </v-card>
                </transition>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import { db } from "../firebase";
    import { validationMixin } from 'vuelidate'
    import { required, email } from 'vuelidate/lib/validators'
    export default {
        mixins: [validationMixin],

        validations: {
            teamSelected: { required },
            addressForm:{
                venueName: { required },
                streetAddressOne: { required },
                city: { required },
                stateSelected: { required },
                zipCode: { required },
            }
        },
        name: 'VenueForm',
        components: {
            
        },
        data (){
            return{
                tabs:null,
                teamSelected: "",
                checkedBarType:"Sports and Team Bar",
                mapUrl:"",
                venues: [],//array of venues - name of collection in Firebase
                submitted: false, //becomes true when form is submitted
                submitAgain: false,
                showMapUrl:false,
                visible:false,

                addressForm:{
                    venueName:"",
                    streetAddressOne: "",
                    streetAddressTwo: "",
                    city: "",
                    stateSelected:"",
                    zipCode:"",
                },
                hiddenInputs:{
                    longitude:"",
                    latitude:"",
                    openingHours:"",
                    verificationScore:0
                },
                
                //Dropdown options
                states: [
                    'Alabama', 'Alaska', 'American Samoa', 'Arizona',
                    'Arkansas', 'California', 'Colorado', 'Connecticut',
                    'Delaware', 'District of Columbia', 'Federated States of Micronesia',
                    'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho',
                    'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
                    'Louisiana', 'Maine', 'Marshall Islands', 'Maryland',
                    'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
                    'Missouri', 'Montana', 'Nebraska', 'Nevada',
                    'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
                    'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio',
                    'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico',
                    'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
                    'Texas', 'Utah', 'Vermont', 'Virgin Island', 'Virginia',
                    'Washington', 'West Virginia', 'Wisconsin', 'Wyoming',
                    ],
                teams: [
                    'Arizona Cardinals','Atlanta Falcons','Baltimore Ravens',
                    'Buffalo Bills','Carolina Panthers','Chicago Bears','Cincinnati Bengals',
                    'Cleveland Browns','Dallas Cowboys','Denver Broncos','Detroit Lions',
                    'Green Bay Packers','Houston Texans','Indianapolis Colts','Jacksonville Jaguars',
                    'Kansas City Chiefs','Las Vegas Raiders','Los Angeles Chargers','Los Angeles Rams',
                    'Miami Dolphins','Minnesota Vikings','New England Patriots','New Orleans Saints',
                    'New York Giants','New York Jets','Philadelphia Eagles','Pittsburgh Steelers',
                    'San Francisco 49ers','Seattle Seahawks','Tampa Bay Buccaneers','Tennessee Titans',
                    'Washington Redskins','Show All',
                ]
            }
        },
        firestore(){
            return{
            venues: db.collection("venues"),
            };
        },
        computed:{
            teamSelectedErrors (){
                const errors = []
                if (!this.$v.teamSelected.$dirty) return errors
                !this.$v.teamSelected.required && errors.push('A team is required.')
                return errors
            },
            venueNameErrors () {
                const errors = []
                if (!this.$v.addressForm.venueName.$dirty) return errors
                !this.$v.addressForm.venueName.required && errors.push('A venue name is required.')
                return errors
            },
            streetAddressOneErrors (){
                const errors = []
                if (!this.$v.addressForm.streetAddressOne.$dirty) return errors
                !this.$v.addressForm.streetAddressOne.required && errors.push('The first line of the address is required')
                return errors
            },
            cityErrors (){
                const errors = []
                if (!this.$v.addressForm.city.$dirty) return errors
                !this.$v.addressForm.city.required && errors.push('The city is required')
                return errors
            },
            stateSelectedErrors (){
                const errors = []
                if (!this.$v.addressForm.stateSelected.$dirty) return errors
                !this.$v.addressForm.stateSelected.required && errors.push('A state is required')
                return errors 
            },
            zipCodeErrors (){
                const errors = []
                if (!this.$v.addressForm.zipCode.$dirty) return errors
                !this.$v.addressForm.zipCode.required && errors.push('A zip code is required')
                return errors 
            }
            
        },
        methods:{
            test(event) {
                if(this.teamSelected){
                    this.visible = true;
                }
            },

            addVenue: function(){  
            // If these fields contain data -> push the data to desired database fields
            if (this.teamSelected && this.addressForm.venueName && this.addressForm.streetAddressOne && this.addressForm.city && this.addressForm.stateSelected 
                && this.addressForm.zipCode) {   
                this.$firestore.venues.add({
                
                teamSelected: this.teamSelected,
                venueName: this.addressForm.venueName,
                streetAddressOne: this.addressForm.streetAddressOne,
                streetAddressTwo: this.addressForm.streetAddressTwo,
                city: this.addressForm.city,
                stateSelected: this.addressForm.stateSelected,
                zipCode: this.addressForm.zipCode,
                mapUrl: this.mapUrl,
                checkedBarType: this.checkedBarType,
                //hidden fields
                longitude: this.hiddenInputs.longitude,
                latitude: this.hiddenInputs.latitude,
                openingHours: this.hiddenInputs.openingHours,
                verificationScore: this.hiddenInputs.verificationScore,
                
                
                })
                //Once the data has been pushed, submitted becomes true and invalid validation is removed
                .then(response =>{
                this.submitted = true; // this is super handy for my NFL bars site
                this.$v.$touch()
                // this.errors = false;
                // document.getElementById("TeamSelected").classList.remove('valid');
                // document.getElementById("AddressOne").classList.remove('valid');
                // document.getElementById("City").classList.remove('valid');
                // document.getElementById("StateSelected").classList.remove('valid');
                // document.getElementById("ZIP").classList.remove('valid');
                // document.getElementById("MapUrl").classList.remove('valid');
                });
                return true;
            }
            //Validation dependant on which tab is selected
            // if(this.activetab == 1){
            //     if (!this.addressForm.streetAddressOne) {
            //     this.errors = true;
            //     document.getElementById('AddressOne').classList.add('invalid');
            //     this.submitted = false;
            //     }
            //     if (!this.addressForm.city) {
            //     this.errors = true;
            //     document.getElementById('City').classList.add('invalid');
            //     this.submitted = false;
            //     }
            //     if (!this.addressForm.stateSelected) {
            //     this.errors = true;
            //     document.getElementById('StateSelected').classList.add('invalid');
            //     this.submitted = false;
            //     }
            //     if (!this.addressForm.zipCode) {
            //     this.errors = true;
            //     document.getElementById('ZIP').classList.add('invalid');
            //     this.submitted = false;
            //     } 
            // }
            // if(this.activetab == 2){
            //     if (!this.mapUrl) {
            //     this.errors = true;
            //     document.getElementById('MapUrl').classList.add('invalid');
            //     this.submitted = false;
            //     }
            // }
            },
            // function to allow a another submission. Resets the fields to an empty string ready for the next submission
            submitAgainClick: function(){
            this.teamSelected = "Sports and Team Bar";
            this.addressForm.venueName = "";
            this.addressForm.streetAddressOne = "";
            this.addressForm.streetAddressTwo = "";
            this.addressForm.city = "";
            this.addressForm.stateSelected = "";
            this.addressForm.zipCode = "";
            this.mapUrl = "";
            this.checkedBarType = "";
            this.submitted = false;
            // this.errors = false;
            },
        }
        
        
    }
</script>

