<template>
  <footer>
      <cookie-law theme="base">	
		</cookie-law>
      <div align="center" class="py-2">
          {{ new Date().getFullYear() }} — <a href="https://www.samnunn.me">Sam Nunn</a>
      </div>
        
   </footer>  
</template>
<script>
  import CookieLaw from 'vue-cookie-law'
  export default {
    components: { CookieLaw }
  }
</script>